:root {
    --bs-pink: #FF00A8;
}

.btn-dangerous {
    color: #FFF;
    background-color: #FF00A8;
    border-color: #FF00A8;
}

.btn-dangerous:hover {
    color: #FF00A8;
    background-color: #FFF;
}

