@page "/"

<!--OVERRIDES MAIN LAYOUT PROVIDED-->
@layout LandingPageLayout

<PageTitle>Chef Byte - Your AI-Powered Chef </PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end text-light me-3 mt-3">
                <a class="text-light" href="https://steveszymanski.com/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center ms-2 ">
                <img class="" src="images/ChefByteWhiteCropped.png" height="340" />
            </div>
            <div>
                <h1 class="text-light text-center mt-3">Your <span class="text-pink">AI-powered</span> chef</h1>
            </div>
            <div class="text-center mt-4">
                <a href="/createmeal" class="btn btn-outline-light">GET STARTED</a>
            </div>

        </main> 
        <footer class="text-center text-light">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col small-footer-text mt-2">
                    &copy; Steve Szymanski 2023
                </div>
                <div class="col text-end text-light me-2">
                    A Blazor App
                    <img class="mb-2" href="https://cdnlogo.com/logo/blazor_66569.html" src="https://www.cdnlogo.com/logos/b/67/blazor.svg" width="30" title="Blazor" />
                </div>

            </div>

        </footer>
    </div>

</div>

