@inherits LayoutComponentBase

<TopNavMenu></TopNavMenu>
<main>
    @Body
</main>
<footer class="p-3 text-center bg-purple mt-3 d-print-none">
    <a class="text-purple" href="https://steveszymanski.com/" target="_blank">&copy 2023 Steve Szymanski</a>
</footer>

@code {

}
